pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum
frontend/node_modules/
frontend/node_modules
frontend/grunt-aws.json
frontend/grunt-aws.json
frontend/grunt-aws.json

*.DS_Store*

resources/public/google235235bcbf7ddb0d .html
